/* Pagina 2 (Iniciar sesion y Registrarse*/

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Monsterrat", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}